<%= form_for(favoritemovie) do |f| %>
  <% if favoritemovie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(favoritemovie.errors.count, "error") %> prohibited this favoritemovie from being saved:</h2>

      <ul>
      <% favoritemovie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
